body {
    background-color: #eaeaea;
    font-family: 'IRANSans', serif;
    font-size: 14px;
}

/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'IRANSans';
    src: url('../font/IRANSansFaNum.woff2') format('woff2'), url('../font/') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

header {
    height: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background: rgb(149, 111, 41);
    background: radial-gradient(circle, rgb(255, 113, 0) 0%, rgb(203, 124, 76) 100%);

}

header div {
    width: 31%;
}

footer {
    width: 100%;
    height: 80px;
    background: rgb(149, 111, 41);
    background: radial-gradient(circle, rgb(255, 113, 0) 0%, rgb(203, 124, 76) 100%);
    box-shadow: 0 -3px 7px #232323;
}

nav {
    background: #222;
    padding: 0 5px;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 1000000;
}

a {
    color: white;
    text-decoration: none;
}

.menu,
.submenu {
    list-style-type: none;
    width: 100%;
    z-index: 1;
}

.item {
    padding: 10px;
}

.item.button {
    padding: 4px 5px;
}

.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
    margin: 0px auto;
    direction: rtl;
    justify-content: flex-start;
    width: 80%;
}

.item-news {
    /*width: 15%;*/
    /*height: 300px;*/
    background-color: white;
    border-radius: 15px 15px 5px 5px;
    margin: 10px auto;
    position: relative;
    box-shadow: 1px 1px 10px #5e5e5e;
    border: 1px solid #b0b0b0;

}

.image-news{
    width: 100%;
    height: 200px;

}
.item-news img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
    border-radius: 15px 15px 0px 0px;
}
.item-news h3 {
background-color: #ffccb0;
    padding: 2px 7px 2px 0;
    color: #111010;
    font-size: 14px;
}

.item-news p {
    padding: 3px 7px 2px 7px;
    color: #000000;
    line-height: 25px;
    font-size: 12px;
    text-align: justify;

}

.item-news a {
    padding: 1px 5px;
    color: white;
    line-height: 25px;
    font-size: 12px;
    margin: 2px 7px;
    background-color: green;
    border-radius: 5px;
    position: absolute;
    bottom: 7px;
    left: 3px;
}

.item-news a:hover {
    background-color: #035b03;
}

/* Mobile menu */
.menu {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.menu li a {
    display: block;
    padding: 0px 5px;
}

.menu li.subitem a {
    padding: 8px;
}

.toggle {
    order: 1;
    font-size: 20px;
}

.item.button {
    order: 2;
}

.item {
    order: 3;
    width: 100%;
    text-align: right;
    display: none;
}

.active .item {
    display: block;
}

.button.secondary { /* divider between buttons and menu links */
    border-bottom: 1px #444 solid;
}

/* Submenu up from mobile screens */
.submenu {
    display: none;
}

.submenu-active .submenu {
    display: block;
}

.has-submenu i {
    font-size: 12px;
}

.has-submenu > a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 9px;
    line-height: 16px;
    font-weight: 900;
    content: "\f078";
    color: white;
    padding-left: 0px;
    margin: 6px;
}

.subitem a {
    padding: 10px 15px;
}

.submenu-active {
    background-color: #111;
    border-radius: 3px;
}

.splide {
    width: 100%;

}

/* Tablet menu */
@media all and (min-width: 700px) {
    .splide {
        width: 100%;
    }

    .menu {
        justify-content: center;
    }

    .logo {
        flex: 1;
    }

    .item.button {
        width: auto;
        order: 1;
        display: block;
    }

    .toggle {
        flex: 1;
        text-align: right;
        order: 2;
    }

    /* Button up from tablet screen */
    .menu li.button a {
        padding: 10px 15px;
        margin: 5px 0;
    }

    .button a {
        background: #0080ff;
        border: 1px royalblue solid;
    }

    .button.secondary {
        border: 0;
    }

    .button.secondary a {
        background: transparent;
        border: 1px #0080ff solid;
    }

    .button a:hover {
        text-decoration: none;
    }

    .button:not(.secondary) a:hover {
        background: royalblue;
        border-color: darkblue;
    }
}

/* Desktop menu */
@media all and (min-width: 960px) {
    .splide {
        width: 100%;

    }

    .menu {
        align-items: flex-start;
        flex-wrap: nowrap;
        background: none;
    }

    .logo {
        order: 0;
    }

    .item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
        cursor: pointer;
    }

    .item:hover .submenu-active .submenu {
        background-color: #151515;

    }

    .button {
        order: 2;
    }

    .submenu-active .submenu {
        display: block;
        position: absolute;
        left: 0;
        top: 44px;
        background: #f1f1f1;
        border: 1px solid #ebebeb;
        box-shadow: 3px 3px 7px #5c5c5c;
        /* color: black; */
        border-radius: 0px 0px 5px 5px;
    }

    .submenu-active .submenu a {
        color: #565656;
        text-decoration: none;

    }

    .submenu-active .submenu a {

        border-bottom: 1px dashed gray;

    }

    .submenu-active .submenu a:hover {
        background-color: #c5c5c5;
        color: #151515;
        transition: background-color 1s;

    }

    .toggle {
        display: none;
    }

    .submenu-active {
        border-radius: 0;
    }
}

.splide__slide img {
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 7px;
}


::-webkit-scrollbar-thumb {
    background-color: #3b3b3b;
    border-radius: 8px;
}



@media screen and (min-width: 1100px){
    .item-news {
        width: 32%;
        height: 370px;
        background-color: white;
        border-radius: 15px 15px 5px 5px;
        margin: 10px auto;
    }
}

@media screen and (max-width: 1280px){
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2px;
        margin: 0px auto;
        direction: rtl;
        justify-content: flex-start;
        width: 95%;
    }
    .item-news {
        width: 47%;
        height: 500px;
        background-color: white;
        border-radius: 15px 15px 5px 5px;
        margin: 10px auto;
        overflow: auto;
    }
    .image-news{
        width: 100%;
        height: 300px;
    }
    .item-news img {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: block;
        border-radius: 15px 15px 0px 0px;
    }
    .item-news h3 {
        background-color: #ffccb0;
        padding: 2px 7px 2px 0;
        color: #111010;
        font-size: 18px;
    }

    .item-news p {
        padding: 3px 7px 2px 7px;
        color: #000000;
        line-height: 25px;
        font-size: 14px;
        text-align: justify;

    }

    .item-news a {
        padding: 1px 5px;
        color: white;
        line-height: 25px;
        font-size: 14px;
        margin: 2px 7px;
        background-color: green;
        border-radius: 5px;
        position: absolute;
        bottom: 7px;
        left: 3px;
    }
}

@media screen and (max-width: 815px){
    .item-news {
        width: 90%;
        height: 500px;
        background-color: white;
        border-radius: 15px 15px 5px 5px;
        margin: 10px auto;
    }
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2px;
        margin: 0px auto;
        direction: rtl;
        justify-content: flex-start;
        width: 95%;
    }

    .image-news{
        width: 100%;
        height: 300px;

    }
    .item-news img {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: block;
        border-radius: 15px 15px 0px 0px;
    }
    .item-news h3 {
        background-color: #ffccb0;
        padding: 2px 7px 2px 0;
        color: #111010;
        font-size: 20px;
    }

    .item-news p {
        padding: 3px 7px 2px 7px;
        color: #000000;
        line-height: 25px;
        font-size: 17px;
        text-align: justify;

    }

    .item-news a {
        padding: 1px 5px;
        color: white;
        line-height: 25px;
        font-size: 14px;
        margin: 2px 7px;
        background-color: green;
        border-radius: 5px;
        position: absolute;
        bottom: 7px;
        left: 3px;
    }

}
@media screen and (max-width: 610px){

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2px;
        margin: 0px auto;
        direction: rtl;
        justify-content: flex-start;
        width: 95%;
    }
    .item-news {
        width: 95%;
        height: 470px;
        background-color: white;
        border-radius: 15px 15px 5px 5px;
        margin: 10px auto;
    }
    .image-news{
        width: 100%;
        height: 220px;

    }
    .item-news img {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: block;
        border-radius: 15px 15px 0px 0px;
    }
    .item-news h3 {
        background-color: #ffccb0;
        padding: 2px 7px 2px 0;
        color: #111010;
        font-size: 20px;
    }

    .item-news p {
        padding: 3px 7px 2px 7px;
        color: #000000;
        line-height: 25px;
        font-size: 17px;
        text-align: justify;

    }

    .item-news a {
        padding: 1px 5px;
        color: white;
        line-height: 25px;
        font-size: 14px;
        margin: 2px 7px;
        background-color: green;
        border-radius: 5px;
        position: absolute;
        bottom: 7px;
        left: 3px;
    }
}

@media screen and (max-width: 350px){

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2px;
        margin: 0px auto;
        direction: rtl;
        justify-content: flex-start;
        width: 95%;
    }
    .item-news {
        width: 100%;
        height: 350px;
        background-color: white;
        border-radius: 15px 15px 5px 5px;
        margin: 10px auto;
    }
    .image-news{
        width: 100%;
        height: 150px;

    }
    .item-news img {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: block;
        border-radius: 15px 15px 0px 0px;
    }
    .item-news h3 {
        background-color: #ffccb0;
        padding: 2px 7px 2px 0;
        color: #111010;
        font-size: 17px;
    }

    .item-news p {
        padding: 3px 7px 2px 7px;
        color: #000000;
        line-height: 25px;
        font-size: 14px;
        text-align: justify;

    }

    .item-news a {
        padding: 1px 5px;
        color: white;
        line-height: 25px;
        font-size: 12px;
        margin: 2px 7px;
        background-color: green;
        border-radius: 5px;
        position: absolute;
        bottom: 7px;
        left: 3px;
    }
}


